# Webscraping model

In [1]:
import pandas as pd

In [2]:
# Scrape data from Wikipedia. In fact, we are going to get the HTML table of Pythonidae snakes (also known as Python snakes).
dfs = pd.read_html('https://en.wikipedia.org/wiki/Pythonidae')
print(f"How many tables on the website {len(dfs)}")

How many tables on the website 8

In [6]:
# Key table
dfs[2]

,Genus[2],Taxon author[2],Species[2],Subsp.[a][2],Common name,Geographic range[1]
0,Antaresia,"Wells & Wellington, 1984",4,2,Children's pythons,Australia in arid and tropical regions
1,Apodora[13],"Kluge, 1993",1,0,Papuan olive python,Papua New Guinea
2,Aspidites,"Peters, 1877",2,0,Shield pythons,Australia except in the south of the country
3,Bothrochilus,"Fitzinger, 1843",7,0,White-lipped pythons,"Most of New Guinea (below 1,200 metres (3,900 ..."
4,Liasis,"Gray, 1842",3,5,Water pythons,"Indonesia in the Lesser Sunda Islands, east th..."
5,Malayopython,"Reynolds, 2014",2,3,Reticulated and Timor pythons,From India to Timor
6,Morelia,"Gray, 1842",8,6,Tree pythons,"From Indonesia in the Maluku Islands, east thr..."
7,Python[b],"Daudin, 1803",10,2,"""True"" pythons",Africa in the tropics south of the Sahara (not...
8,Simalia,"Gray, 1849",7,0,Amethystine python species complex,Found in Indonesia (Including the islands of H...

# Analyze the Sweeden pandemic

In [8]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Sweden',
                  match='New COVID-19 cases in Sweden by county')
print(dfs[0].shape)
dfs[0].head()

(155, 37)

  Source: FOHM[367][a]             County                     \
                  Date           Blekinge            Dalarna
                  Date Unnamed: 1_level_2 Unnamed: 2_level_2
0                  NaN                NaN                NaN
1                  NaN                NaN                NaN
2           2020-02-04                NaN                NaN
3                  NaN                NaN                NaN
4                  NaN                NaN                NaN

                                                                               \
             Gotland          Gävleborg            Halland           Jämtland
  Unnamed: 3_level_2 Unnamed: 4_level_2 Unnamed: 5_level_2 Unnamed: 6_level_2
0                NaN                NaN                NaN                NaN
1                NaN                NaN                NaN                NaN
2                NaN                NaN                NaN                NaN
3                NaN                NaN                NaN                NaN
4                NaN                NaN                NaN                NaN

                                                            ... Deaths[b]  \
           Jönköping             Kalmar          Kronoberg  ...     Total
  Unnamed: 7_level_2 Unnamed: 8_level_2 Unnamed: 9_level_2  ...     Total
0                NaN                NaN                NaN  ...       NaN
1                NaN                NaN                NaN  ...       NaN
2                  1                NaN                NaN  ...       NaN
3                NaN                NaN                NaN  ...       NaN
4                NaN                NaN                NaN  ...       NaN

              ICU admissions                   Analysed samples[368]        \
  Diff 7d avg            New Total Diff 7d avg                   New Total
  Diff 7d avg            New Total Diff 7d avg                   New Total
0  NaN    NaN            NaN   NaN  NaN    NaN                    11    11
1  NaN    NaN            NaN   NaN  NaN    NaN                    26    37
2  NaN    NaN            NaN   NaN  NaN    NaN                    78   115
3  NaN    NaN            NaN   NaN  NaN    NaN                    38   153
4  NaN    NaN            NaN   NaN  NaN    NaN                    27   180


  Week
  Week
0    4
1    5
2    6
3    7
4    8

[5 rows x 37 columns]

In [9]:
df = dfs[0].iloc[:-5, :].copy()
df.columns = df.columns.get_level_values(1)
df.columns

Index(['Date', 'Blekinge', 'Dalarna', 'Gotland', 'Gävleborg', 'Halland',
       'Jämtland', 'Jönköping', 'Kalmar', 'Kronoberg', 'Norrbotten', 'Skåne',
       'Stockholm', 'Södermanland', 'Uppsala', 'Värmland', 'Västerbotten',
       'Västernorrland', 'Västmanland', 'Västra Götaland', 'Örebro',
       'Östergötland', 'New', 'Total', 'Diff', '7d avg', 'New', 'Total',
       'Diff', '7d avg', 'New', 'Total', 'Diff', '7d avg', 'New', 'Total',
       'Week'],
      dtype='object')

In [10]:
df['Date'] = pd.to_datetime(df['Date'])

ParserError: Unknown string format: 2020-03-06[c]

In [ ]:
df.set_index('Date', inplace=True)